<template>
    <div class="panel">
        <div class="panel--header">
            <p class="title">Questions</p>
            <div class="btn-group">
                <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="panel-body">
            <table class="left">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Question</th>
                    <th>Input form</th>
                    <th>Step</th>
                    <th>Type</th>
                    <th>Required</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(question,index) in questions">
                    <td>{{ question.id }}</td>
                    <td>{{ question.text }}</td>
                    <td>{{ question.slug }}</td>
                    <td>{{ question.step }}</td>
                    <td>{{ question.type }}</td>
                    <td>
                        <span class="badge badge-success" v-if="question.required === 1">True</span>
                        <span class="badge badge-danger" v-if="question.required === 0">False</span>
                    </td>
                    <td>
                        <span @click="Published(question.id,index,question.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': question.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="question.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <div class="actions">
                            <button type="button" @click.prevent="showOption(question.id)" class="btn btn-primary" v-if="question.type === 'select'"><i class="fas fa-list-ol"></i></button>
                            <button type="button" @click.prevent="showEdit(question.id,index)" class="btn btn-secondary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                            <button type="button" @click.prevent="Delete(question.id,index)" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-right"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Add question</p>
                        <button type="button" class="custom__btn--close" data-dismiss="modal"><svg><use xlink:href="#close"></use></svg></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="createQuestion()">
                            <div class="form-group">
                                <label for="">Question</label>
                                <textarea cols="30" rows="5" class="form-control" v-model="edit.text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Input form</label>
                                <input type="text" class="form-control"  v-model="edit.slug">
                            </div>
                            <div class="form-group">
                                <label for="">Type</label>
                                <select  v-model="edit.type" class="form-control">
                                    <option :value="'text'">Text</option>
                                    <option :value="'textarea'">Textarea</option>
                                    <option :value="'select'">Select</option>
                                    <option :value="'date'">Date</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Step</label>
                                <input type="number" class="form-control" v-model="edit.step">
                            </div>
                            <div class="form-group">
                                <label for="">Required</label>
                                <input type="checkbox" class="form-control" v-model="edit.required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Редактировать</p>
                        <button type="button" class="custom__btn--close" data-dismiss="modal"><svg><use xlink:href="#close"></use></svg></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateQuestion()">
                            <div class="form-group">
                                <label for="">Question</label>
                                <textarea cols="30" rows="5" class="form-control" v-model="edit.text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Input form</label>
                                <input type="text" class="form-control"  v-model="edit.slug">
                            </div>
                            <div class="form-group">
                                <label for="">Type</label>
                                <select  v-model="edit.type" class="form-control">
                                    <option :value="'text'">Text</option>
                                    <option :value="'textarea'">Textarea</option>
                                    <option :value="'select'">Select</option>
                                    <option :value="'date'">Date</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Step</label>
                                <input type="number" class="form-control" v-model="edit.step">
                            </div>
                            <div class="form-group">
                                <label for="">Required</label>
                                <input type="checkbox" class="form-control" v-model="edit.required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Options</p>
                        <button type="button" class="custom__btn--close" data-dismiss="modal"><svg><use xlink:href="#close"></use></svg></button>
                    </div>
                    <div class="modal-body">
                        <table class="left">
                            <thead>
                            <tr>
                                <th>Option name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(option,index) in options">
                                <td>{{ option.option }}</td>
                                <td>
                                    <div class="actions">
                                        <button type="button" @click.prevent="deleteOption(option.id,index)" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <form @submit.prevent="addOption()">
                            <div class="form-group">
                                <label for="">Option name</label>
                                <input type="text" class="form-control" v-model="editOption.option">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Question",
        data: function () {
            return {
                questions: [],
                edit:{
                    id: 0,
                    text: '',
                    type: 'text',
                    step: 1,
                    required: true,
                    slug: '',
                    x: -1,
                },
                options: [],
                editOption:{
                    qid: 0,
                    id: 0,
                    option: ''
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getQuestions();
        },
        methods: {
            getQuestions() {
                axios.get('/admin/modules/poller/show')
                    .then((response) => {
                        this.questions = response.data;
                    })
                    .catch(error => {
                    });
            },
            showOption(id) {
                this.editOption.qid = id;
                axios.post('/admin/modules/poller/option',{id:id})
                    .then((response) => {
                        this.options = response.data;
                        $('#showOptions').modal('show');
                    })
                    .catch(error => {
                    });
            },
            addOption() {
                axios.post('/admin/modules/poller/option/store', this.editOption)
                    .then((response) => {
                        this.options.push(response.data.option);
                        this.optionClear();
                    })
                    .catch(error => {
                    });
            },
            deleteOption(id,x){
                toastDelete.fire({
                    title: 'Delete option?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/modules/poller/option/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.options.splice(x,1);
                                    this.optionClear();
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/modules/poller/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        that.questions[x].published = 1;
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Discontinued?',
                        text: "",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/modules/poller/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        that.questions[x].published = 0;
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            createQuestion(){
                axios.post('/admin/modules/poller/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.questions.push(response.data.question);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateQuestion(){
                let x = this.edit.x;
                const that = this;
                axios.post('/admin/modules/poller/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            that.questions[x].text = response.data.question.text;
                            that.questions[x].step = response.data.question.step;
                            that.questions[x].type = response.data.question.type;
                            that.questions[x].slug = response.data.question.slug;
                            that.questions[x].required = response.data.question.required;
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete question?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/modules/poller/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.questions.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id,x){
                this.edit.x = x;
                this.edit.text = this.questions[x].text;
                this.edit.slug = this.questions[x].slug;
                this.edit.step = this.questions[x].step;
                this.edit.type = this.questions[x].type;
                this.edit.id = this.questions[x].id;
                if (this.questions[x].required === 1) this.edit.required = true; else this.edit.required = false;
                $('#showEdit').modal('show');
            },
            clear(){
                this.edit.text = '';
                this.edit.slug = '';
                this.edit.step = 1;
                this.edit.required = true;
                this.edit.type = 'text';
                this.edit.id = 0;
            },
            optionClear(){
                this.editOption.option = '';
            }
        }
    }
</script>

<style scoped>

</style>
