// Variables
@import 'admin/animate';
@import 'admin/vars';
@import 'admin/bases';
@import 'admin/layout';
@import 'admin/module';
@import 'admin/button';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.compare--rom{
  display: flex;
  flex-wrap: wrap;
  .compare--rom__header{
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.galleries--box__data{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: -5px;
  .galleries--box--overlow{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .item{
      width: 100px;
      min-width: 100px;
      margin: 0 15px 15px;
    }
  }
  .item{
    padding: 0 5px;
    .btn-delete{
      position: absolute;
      bottom: -12px;
      left: -5px;
    }
    &.w-100px{
      width: 100px;
    }
    .galleries_add{
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #38c172;
      &:hover{
        border-color: #e3342f;
        cursor: pointer;
        svg{
          fill: #e3342f;
          stroke: #e3342f;
        }
      }
      svg{
        width: 50px;
        height: 50px;
        fill: #38c172;
        stroke: #38c172;
      }
    }
    .galleries__link--user{
      position: relative;
      .btn-danger{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        svg{
          width: 20px;
          height: 20px;
        }
      }
      .data-img{
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100px;
        border-radius: 5px
      }
      &:hover{
        .tape__hide{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}



