@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Regular.eot');
    src: url('fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Regular.woff') format('woff'),
         url('fonts/AvenirNextCyr-Regular.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Light.eot');
    src: url('fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Light.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Light.woff') format('woff'),
         url('fonts/AvenirNextCyr-Light.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Medium.eot');
    src: url('fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Medium.woff') format('woff'),
         url('fonts/AvenirNextCyr-Medium.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Demi.eot');
    src: url('fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Demi.woff') format('woff'),
         url('fonts/AvenirNextCyr-Demi.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Bold.eot');
    src: url('fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Bold.woff') format('woff'),
         url('fonts/AvenirNextCyr-Bold.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('fonts/AvenirNextCyr-Heavy.eot');
    src: url('fonts/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextCyr-Heavy.woff2') format('woff2'),
         url('fonts/AvenirNextCyr-Heavy.woff') format('woff'),
         url('fonts/AvenirNextCyr-Heavy.ttf') format('truetype'),
         url('fonts/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Adelle';
    src: url('fonts/AdelleCyrillic-Bold.eot');
    src: url('fonts/AdelleCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/AdelleCyrillic-Bold.woff2') format('woff2'),
        url('fonts/AdelleCyrillic-Bold.woff') format('woff'),
        url('fonts/AdelleCyrillic-Bold.ttf') format('truetype'),
        url('fonts/AdelleCyrillic-Bold.svg#AdelleCyrillic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle';
    src: url('fonts/AdelleCyrillic.eot');
    src: url('fonts/AdelleCyrillic.eot?#iefix') format('embedded-opentype'),
        url('fonts/AdelleCyrillic.woff2') format('woff2'),
        url('fonts/AdelleCyrillic.woff') format('woff'),
        url('fonts/AdelleCyrillic.ttf') format('truetype'),
        url('fonts/AdelleCyrillic.svg#AdelleCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?jffzht');
    src: url('fonts/icomoon.eot?jffzht#iefix') format('embedded-opentype'),
         url('fonts/icomoon.ttf?jffzht') format('truetype'),
         url('fonts/icomoon.woff?jffzht') format('woff'),
         url('fonts/icomoon.svg?jffzht#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
    content: "\e90b";
}
.icon-arr2-l:before {
    content: "\e900";
}
.icon-arr2-r:before {
    content: "\e901";
}
.icon-arr-down:before {
    content: "\e902";
}
.icon-arr-r:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e904";
}
.icon-job:before {
    content: "\e905";
}
.icon-myspace:before {
    content: "\e906";
}
.icon-pie-chart:before {
    content: "\e907";
}
.icon-star:before {
    content: "\e908";
}
.icon-user:before {
    content: "\e909";
}
.icon-x:before {
    content: "\e90a";
}
