@import 'vars';

.svg-sprite{
  display: none;
}
svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.ck.ck-editor__main>.ck-editor__editable{
  min-height: 200px;
}
.img--thumb{
  max-width: 100%;
  margin-bottom: 15px;
}
.spinner-box{
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

// SPINNERS STYLES
.spinner{
  width: 100px;
  height: 100px;
  border-top: 3px solid rgba(#fff, .5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation .8s linear infinite;
}

.img-round{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.48);
}