@import 'vars';

.ivu-switch {
  width: 46px;
  height: 23px;
  line-height: 22px;
  border-radius: 24px;
  vertical-align: middle;
  border: 1px solid #9a9eae;
  background-color: #f4f4f7;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: flex;
  .ivu-switch-inner {
    color: #757b91;
    font-size: 12px;
    position: absolute;
    left: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &:after {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 20px;
    background-color: #d24a43;
    position: absolute;
    left: -13px;
    top: -3px;
    cursor: pointer;
    -webkit-transition: left .2s ease-in-out,width .2s ease-in-out;
    transition: left .2s ease-in-out,width .2s ease-in-out;
  }
  &.ivu-switch-checked {
    .ivu-switch-inner {
      left: 5px;
    }
    &:after {
      background-color: $green;
      left: 25px;
    }
  }
}

.ivu-switch-large.ivu-switch-checked
.ivu-switch {
  display: inline-block;
}

#ck-button {
  overflow:auto;
  position: relative;
  margin-right: 5px;
}
#ck-button:hover  label span {
  background: $blue;
  color: #fff;
  cursor: pointer;
}

#ck-button label {
  width: 100%;
  padding: 0px;
  margin: 0;
  height: 40px;
}

#ck-button label span {
  height: 30px;
  color: #9597a2;
  text-transform: lowercase;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid #9597a2;
  margin: 5px;
}

#ck-button label input {
  position:absolute;
  top:-20px;
  height: auto;
}

#ck-button input:checked + span {
  background-color: $blue;
  border-color: $blue;
  color: #fff;
}
.article__tags{
  margin-left: -5px;
  margin-right: -5px;
  ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin-bottom: 0;
      a{
        height: 30px;
        color: #9597a2;
        text-transform: lowercase;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 15px;
        border: 1px solid #9597a2;
        margin: 5px;
        &:hover,&:focus{
          cursor: pointer;
          color: #fff;
          border-color: $blue;
          background-color: $blue;
        }
      }
    }
  }
}
.radio{
  position: relative;
}
.radio input{
  position: absolute;
  left: -100px;
}
.radio input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}

.radio label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  min-height: 22px;
  cursor: pointer;
}

.radio label::before,
.radio label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.radio label::before{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #ababab;
  left: 0px;
  top: 0px;
}

.radio label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2c2c2c;
  left: 4px;
  top: 4px;
  text-align: left;
}

.radio input[type="radio"] + label::after {
  content: none;
}

.radio input[type="radio"]:checked + label::after {
  content: "";
}