@import 'vars';

*{
  outline-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: #eaf0f7;
  color: #000;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

header{
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding-right: 40px;
  padding-top: 38px;
  padding-bottom: 44px;
  .box__header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    .header__user{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      align-content: center;
    }
    .header--title{
      h1{
        margin: 0 50px 0 0;
        padding: 0;
        font-size: 44px;
        color: #fff;
        font-weight: 100;
      }
    }

    .user_action-box{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
      .user__data{
        height: 100%;
        margin-right: -10px;
        position: relative;
        .user_header{
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-content: center;
          align-items: center;
          height: 100%;
          padding: 0 10px;
          background-color: transparent;
          border: none;
          &:hover,&:focus{
            cursor: pointer;
            background-color: rgba(234, 240, 247, 0.4);
          }
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
          .username{
            margin: 0;
            font-size: 14px;
            display: inherit;
            align-content: center;
            align-items: center;
            .carret{
              margin-left: 7px;
            }
          }
        }
        .user__nav{
          margin: 0;
          padding: 0;
          list-style-type: none;
          &:before,&:after{
            content: '';
            position: absolute;
            left: 18px;
            top: -21px;
            border: 10px solid transparent;
            border-bottom: 10px solid #e7ecfa;
          }
          &:after{
            border-bottom: 9px solid #fff;
            top: -19px;
          }
          li{
            a{
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              padding: 10px 15px;
              color: #8590b3;
              font-size: 14px;
              border-bottom: 1px solid #e7ecfa;
              text-decoration: none;
              &:hover{
                color: $blue;
              }
            }
            &:last-of-type{
              a{
                border-bottom: 0;
              }
            }
            .logaut{
              display: block;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              padding: 10px 15px;
              color: #8590b3;
              font-size: 14px;
              width: 100%;
              &:hover{
                cursor: pointer;
                color: $blue;
              }
            }
            .logaut{
              background-color: transparent;
              border:none;
            }
          }
        }
      }
    }
  }
}

#app{
  position: relative;
  padding-left: 200px;
  min-height: 100vh;
}
.sc-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://online.alfabank.by/Content/Sites/Ib2/Alfa/images/background/default.jpg);
  z-index: -1;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  .menu{
    padding: 0;
    margin: 0;
    height: 100%;
    .menu__item{
      display: flex;
      height: calc(100vh / 9);
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.15);
      position: relative;
      transition: .4s;
      text-decoration: none;
      &:hover{
        background-color: rgba(255,255,255,.15);
        border-bottom-color: rgba(255,255,255,.01);
      }
      &.active{
        background-color: #fff;
        .menu__item-text{
          i{
            color: #0185ce;
          }
          .menu__item-label {
            color: #0185ce;
          }
        }
        &:after{
          content: " ";
          position: absolute;
          top: 0;
          bottom: -1px;
          right: -10px;
          width: 11px;
          background-color: transparent;
          background-image: url(https://online.alfabank.by/Content/Sites/Ib2/Alfa/images/menu-active-root.png);
          background-repeat: no-repeat;
          background-size: 11px 100%;
        }
      }
      i{
        font-size: 26px;
        color: rgba(255, 255, 255, 0.6);
      }
      .menu__item-text{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        .menu__item-label {
          font-weight: 700;
          font-size: 13px;
          line-height: 19px;
          color: rgba(255, 255, 255, 0.6);
          letter-spacing: 1px;
          transition: color 0.4s;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
.main{
  min-height: calc(100vh - 142px);
  .content__wrapper{
    display: flex;
    padding-right: 40px;
    padding-top: 38px;
    padding-bottom: 44px;
    .wrapper{
      width: 100%;
      .wrapper_header{
        min-height: 50px;
        background-color: rgba(255,255,255,.15);
        font-weight: 300;
        font-size: 16px;
        line-height: 48px;
        color: rgba(255,255,255,.6);
        border-radius: 4px 4px 0 0;
        &.btn-group{
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: space-between;
          .btn-flex{
            button,.btn{
              min-width: 190px;
              font-weight: 500;
              font-size: 14px;
              padding: 0 15px;
            }
          }
        }
        h1{
          margin-top: 0;
          color: $title;
          font-size: 24px;
          margin: 0;
          padding: 15px 0;
          font-weight: 400;
        }
      }
    }
  }
}
