@import 'vars';

table{
    width: 100%;
    border-collapse: collapse;
    &.left{
        th,td{
            text-align: left;
        }
    }
    th,td{
        font-size: 14px;
        font-weight: 300;
        border-bottom: 1px solid #ddd;
        padding: 8px 10px;
        color: #000;
        max-width: 300px;
    }
    th{
        font-weight: 600;
        text-align: center;
        &:first-of-type{
            text-align: left;
        }
        &:last-of-type{
            text-align: right;
        }
    }
    td{
        font-weight: 400;
        text-align: center;
        .actions{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btn{
                margin-left: 10px;
            }
            .ivu-switch{
                margin-left: 10px;
            }
        }
        .img-round{
            display: block;
        }
    }
}

.modal-content{
  .custom__modal--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #cacdd0;
    .title{
      margin: 0;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 33px;
      text-transform: uppercase;
      color: #000000;
    }
    .custom__btn--close{
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: transparent;
      border: none;
      svg{
        fill: #3490dc;
        stroke: #3490dc;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.panel {
  border-radius: 4px;
  .panel--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgba(255,255,255,.15);
    font-weight: 300;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 48px;
    color: rgba(255,255,255,.6);
    border-radius: 4px 4px 0 0;
    padding: 0 15px;
    p{
      margin: 0;
    }
  }
  .panel-body{
    background-color: #fff;
    padding: 0 15px;
    .nav-pills{
      margin-left: -15px;
      margin-right: -15px;
      border-bottom: 4px solid #3490dc;
      .nav-link{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 16px;
      }
    }
    &.ptb{
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .panel--link{
      display: -webkit-box;
      display: flex;
      min-height: 100px;
      width: 100%;
      position: relative;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      text-decoration: none;
      &:hover{
        .panel--link-text{
          svg{
            fill: #0185ce;
            stroke: #0185ce;
          }
          .panel--link-label{
            color: #0185ce;
          }
        }
      }
      .panel--link-text{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        padding: 15px 0;
        flex-wrap: wrap;
        i{
          font-size: 36px;
          color: #000;
          margin-bottom: 15px;
        }
        .panel--link-label{
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #000;
          letter-spacing: 1px;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .filter-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 8px 0;
      .search{
        display: flex;
        align-items: center;
        label{
          margin-right: 10px;
        }
      }
    }
  }
}

//Auth and Register
.auth{
  #app{
    padding-left: 0;
  }
}
.auth__register{
  min-height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  .center--box{
    width: 376px;
    &.w-50{
      width: 50%;
    }
  }
  .footer--form{
    padding: 30px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      color: #000;
      font-size: 16px;
      &:hover{
        color: $red;
      }
    }
  }
  .form__center{
    .title{
      text-align: center;
      font-size: 25px;
      color: #fff;
      font-weight: 100;
      display: block;
      width: 100%;
    }
    .form-body{
      padding: 30px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      .form-group{
        display: flex;
        flex-basis: 100%;
      }
    }
  }
}
